.custom-divider {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.custom-divider:before, .custom-divider:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    --bs-table-bg-type: var(--bs-table-striped-bg);
    margin: auto;
}

.grey-color {
    color: #888;
}

.login-container {
  display: flex;
  height: calc(100vh - 56px);
}

@media (max-width: 449px) {
  .login-card {
    margin: auto .5rem !important;
    width: 100%;
  }
}

@media (min-width: 450px) {
  .login-card {
    /* margin-left: auto !important;
    margin-right: auto !important; */
    margin: auto !important;
    width: 450px;
  }
}
