/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

.form-floating > label {
    z-index: 5;
}

html, body {
    height: calc(100% - 58px);;
    margin: 0;
    padding: 0;
    min-width: 300px;
}

app-root {
  margin-top: 56px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
