<div class="pt-2">
  <!-- <div class="d-flex justify-content-center">
    <div class="d-flex mb-4 align-items-center align-middle justify-content-around flex-wrap" style="gap: 6px">
      <div class="form-floating">
        <input id="project-name" type="text" class="form-control" placeholder="Project Name" name="projectName" [(ngModel)]="newProjectName"/>
        <label for="project-name">Create Project</label>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="createNewProject()">Create</button>
      </div>
    </div>
  </div> -->

  <div class="d-flex flex-column mb-4 align-items-center justify-content-around flex-wrap">
    <h2>Project</h2>
    @if (!!userProjects && userProjects.length! > 1) {
      <div class="btn-group dropdown">
        <button id="project-selection" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="!selectedProject">
          {{selectedProject?.projectName || 'No projects available'}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          @for(project of userProjects; track project.projectUid) {
            <li><button class="dropdown-item" (click)="changeSelectedProject(project)" [ngClass]="selectedProject?.projectUid === project.projectUid ? 'disabled' : ''">{{ project.projectName }}</button></li>
          }
        </ul>
        <button id="project-options" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-gear-fill pe-1"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><button class="dropdown-item">TEST Button</button></li>
        </ul>
      </div>
    }
    @else {
      <div class="btn-group dropdown">
        <button id="project-selection" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" [disabled]="true">
          {{selectedProject?.projectName || 'No projects available'}}
        </button>
        <button id="project-options" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-gear-fill pe-1"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><button class="dropdown-item">TEST Button</button></li>
        </ul>
      </div>
    }
  </div>

  <div class="d-flex flex-column mb-4 align-items-center justify-content-around flex-wrap">
    <h2>Rounds</h2>
    <div class="d-flex flex-row align-items-center align-middle justify-content-around flex-wrap">
      <form [formGroup]="stitchForm" (ngSubmit)="onAddStitch()" class="d-flex flex-row align-items-center align-middle justify-content-around flex-wrap">
        <!-- Round number -->
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="roundNumber" formControlName="roundNumber" placeholder="Round Number">
          <label for="roundNumber">Round Number</label>
        </div>

        <!-- Stitch type -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="stitchType" formControlName="stitchType" placeholder="Stitch Type">
          <label for="stitchType">Stitch Type</label>
        </div>

        <!-- Count -->
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="count" formControlName="count" placeholder="Count">
          <label for="count">Count</label>
        </div>

        <!-- Add stitch -->
        <button type="submit" class="btn btn-primary">Add Stitch</button>
      </form>
    </div>
  </div>

  <div class="d-flex flex-column mb-4 align-items-center justify-content-around flex-wrap">
    <div class="d-flex align-items-center" style="gap: 6px">
      <h2>Structure</h2>
      <button type="button" class="btn" [ngClass]="isEditing ? 'btn-secondary' : 'btn-outline-secondary'" (click)="isEditing = !isEditing" [attr.disabled]="!rounds || rounds.length === 0 ? true : null" title="Toggle Edit Mode">
        <i class="bi" [ngClass]="isEditing ? 'bi-gear-fill' : 'bi-gear'"></i>
      </button>
    </div>

    @if (!rounds || rounds.length === 0) {
      <div class="alert alert-info mx-5" role="alert">
        No rounds available. Please add stitches to create rounds.
      </div>
    } @else {
      <div cdkDropListGroup class="parent-card">
        @if (isDragging) {
          <div class="card mb-1">
            <div cdkDropList [cdkDropListData]="emptyRound" (cdkDropListDropped)="dropOutside($event, true)" class="card-body p-2">
              Create round before
            </div>
          </div>
        } @else {
          <div class="card-placeholder"></div>
        }
        <div class="card mb-1" *ngFor="let round of rounds; let roundIdx = index">
          <div class="card-header d-flex flex-row justify-content-between">
            <span>Round: {{ round.roundNumber }}</span>
            <span>Total: {{ round.totalStitches }}</span>
          </div>
          <div class="card-body p-2" cdkDropList [cdkDropListData]="round" (cdkDropListDropped)="drop($event, roundIdx)">
            <div class="card mb-1" cdkDrag [cdkDragData]="stitch" (cdkDragStarted)="startDragging()"
              *ngFor="let stitch of round.stitches; let stitchIdx = index">
              <div class="card-body p-1 d-flex flex-row flex-nowrap justify-content-between align-items-center">
                <div>Type: {{ stitch.type }}</div>
                <div>Total: {{ stitch.quantity }}</div>
                <div *ngIf="isEditing">
                  <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDeleteStitch(roundIdx, stitchIdx)"><i class="bi bi-trash3-fill"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        @if (isDragging) {
          <div *ngIf="isDragging" class="card">
            <div cdkDropList [cdkDropListData]="emptyRound" (cdkDropListDropped)="dropOutside($event, false)" class="card-body p-2">
              Create round after
            </div>
          </div>
        } @else {
          <div class="card-placeholder"></div>
        }
      </div>
    }
  </div>
</div>
